asyncio
selenium==3.141.0
discord.py==1.7.2
discord.py[voice]
datetime==4.3
Dtime==0.1
pip==20.0.2
beautifulsoup4==4.9.3
youtube-dl==2021.5.16
ffmpeg-python
requests==2.22.0
lxml==4.6.3
urllib3==1.25.8
Options
